################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreWebApiArchitectureDemo/NetCoreWebApiArchitectureDemo.Domain
/NetCoreWebApiArchitectureDemo/NetCoreWebApiArchitectureDemo.Core
/NetCoreWebApiArchitectureDemo/NetCoreWebApiArchitectureDemo
